* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; /* Changed from hidden to auto */
}

.landing-page {
  background: #005eb8; /* NHS Blue */
  color: white; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  height: 100%;
  width: 100%; /* Ensure the map container has a defined width */
  position: absolute; /* Ensures it covers the full screen, adjust as needed */
  top: 0;
  left: 0;
  z-index: 1; /* Make sure it's not behind any other content */
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.loading-bar {
  height: 8px;
  background: linear-gradient(to right, #ff0095, #ffe4f4);
  transform: scaleX(0); /* Start from 0 */
  transform-origin: top left;
  transition: transform 0.5s;
}

.loading-container {
  position: absolute;
  top: 50%; /* Center vertically, adjust as needed */
  left: 0;
  width: 100%;
  transform: translateY(-50%); /* Align the center of the container with the middle of the page */
  text-align: center;
}

.loading-text {
  color: #ff0095; /* Set the text color, adjust as needed */
  margin-bottom: 10px; /* Space between the text and the loading bar */
  font-size: 1.5em; /* Set to a reasonable size */
  font-family: Arial, sans-serif;
  z-index: 10; /* Ensure it's above the loading bar */
}

.loading-bar.ended {
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: transform 1.5s ease-in-out;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
}

.point .label {
  position: absolute;
  top: -20px;
  left: -20px;
  width: auto; /* Allow width to grow */
  min-width: 40px; /* Minimum width */
  height: 40px;
  padding: 0 10px; /* Add some padding to the sides */
  border-radius: 50%; /* Rounded edges */
  background: #00000077;
  border: 1px solid #ffffff77;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 40px;
  font-weight: 100;
  font-size: 14px;
  cursor: help;
  transform: scale(0, 0);
  transition: transform 0.3s;
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Prevent overflow */
  text-overflow: ellipsis; /* Add an ellipsis to text that overflows */
}

.point .text {
  position: absolute;
  top: 30px;
  left: -120px;
  width: 200px; /* Set a fixed width */
  padding: 20px;
  border-radius: 4px;
  background: #00000077;
  border: 1px solid #ffffff77;
  color: #ffffff;
  line-height: 1.3em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  white-space: normal; /* Allow line breaks */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Ellipsis for overflow */
}

.point:hover .text {
  opacity: 1;
}

.point.visible .label {
  transform: scale(1, 1);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  z-index: 1000; /* High z-index to ensure it's on top */
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* This centers your navbar items horizontally */
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ff0099;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent white cards */
  border: 2px solid #ffffff; /* Solid white border */
  border-radius: 8px; /* Rounded corners for the cards */
  width: 200px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #005eb8; /* NHS Blue for text */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.card h3 {
  margin: 0;
  font-size: 1.5em;
  color: #005eb8; /* NHS Blue for headings */
}

.card p {
  font-size: 0.9em;
  color: #002855; /* A darker shade of blue for text */
}
